{
    "overrides": [
        {
            "files": [
                "*.jsx",
                "*.tsx",
                "*.ts"
            ],
            "options": {
                "printWidth": 240,
                "useTabs": true
            }
        },
        {
            "files": "*.sol",
            "options": {
                "printWidth": 80,
                "tabWidth": 4,
                "useTabs": false,
                "singleQuote": false,
                "bracketSpacing": false,
                "explicitTypes": "always"
            }
        }
    ]
}